<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/public/style/404.css">
    <title>404</title>
</head>

<body>
    <header>
        <h1>404</h1>
        <p>Sorry we cannot find the page you are looking for</p>
        <p>Please feel free to contact us using the email:
            incoming+game-book-maker-gamebookmaker-site-13374730-issue-@incoming.gitlab.com</p>
        <p>or head back to the homepage and try again</p>
        <a href="/">Home</a>
    </header>
    <div class="container">
        <p></p>
    </div>
</body>

</html>