<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/public/style/style.css">
    <title>Game Book Maker</title>
</head>

<body>
    <form action="/guest" method="post" accept-charset="utf-8">
        <h1>Chapter</h1>
        <p>Chapter Number <input name="key" type="text" value="{{chapter_num}}"></input></p>
        <p>Chapter Text <input name="text" type="text"></input></p>
        <p><a href="/projects/{{user}}/{{project_name}}/chapters/{{chapter_num}}">New Choice</a></p>
        <p><input type="submit" value="Go"></p>
    </form>
</body>

</html>