<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/public/style/style.css">
    <title>Game Book Maker</title>
</head>

<body>
    <form action="{{post_url}}" method="post" accept-charset="utf-8">
        <div class="chapter">
            <h1>{{text}}</h1>
            <p><input placeholder="" name="message" type="text"></input></p>
        </div>
    </form>
</body>

</html>