<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/public/style/style.css">
    <title>Game Book Maker</title>
</head>

<body>
    Page for a project
    <p><a href="/projects/{{user}}/{{project_name}}/chapters/1">Start new chapter</a></p>
</body>

</html>